<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RB Sistemas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <!-- Início -->
        <a class="navbar-brand text-primary fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="icon">🏠</span> Início
        </a>
        
        <!-- Botão de menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navegação expandida -->
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <!-- Agendamento -->
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">
                        <span class="icon">📅</span> Agenda
                </a>
                <div class="dropdown-menu p-3 rounded-3 shadow-lg bg-light">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Ver meus agendamentos</a></li>
                        <li class="mb-2"><a href="#">Definir Horários</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Cadastro -->
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">
                    <span class="icon">📝</span> Cadastro
                </a>
                <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="/clientes">Clientes</a>
                                </li>
                            <li class="mb-2">
                    <a href="/aniversariantes">Aniversariantes</a>
                    </li>
                            <li class="mb-2">
                    <a href="/pacotes">Pacotes</a>
                    </li>
                            <li class="mb-2">
                                <a href="/profissionais">Profissionais</a>
                            </li>

                    </ul>
                </div>
            </div>
            
            <!-- Serviços -->
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">
                    <span class="icon">💳</span> Serviços
                </a>
                <div class="dropdown-menu">
                        <a href="/servicos">Serviços</a>
                </div>
            </div>
            
            <!-- Relatórios -->
            <div class="dropdown">
                <a href="#" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">
                    <span class="icon">📊</span> Relatórios
                </a>
                <div class="dropdown-menu">
                    <!-- Lista de relatórios -->
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">

            @RenderBody()
</main>
</div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
